:root {
  /* # PALETTE COLORI */
  --cyan: #8ea1e1;
  --black: #000000;
  --golden: #daa520;
  --blue: #00008b;
  --fuchsia: #ee82ee;
  --white: #ffffff;
  --gray: #d3d3d3;
  --azure: #1e90ff;
  --pink: #ffc0cb;
  --green: #228b22;
  --darkgray: #23272a;
  --salmon: #f08080;
  --teal: #20b2aa;
  --aquamarine: #7fffd4;
  --lightpink: #ffb6c1;
  --primary-header: #255ee9;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* # UTILS */

.container {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
}

/* list item */

ul {
  list-style-type: none;
}

ul li:first-child {
  color: var(--cyan);
}

/* button */

.btn {
  padding: 10px;
  border-radius: 30px;
  display: inline-block;
}

.btn.btn-white {
  color: var(--black);
  background-color: var(--white);
}

.btn.btn-black {
  color: var(--white);
  background-color: var(--black);
}

.btn.btn-cyan {
  color: var(--white);
  background-color: var(--cyan);
}

/* Flex */

.flex {
  display: flex;
}

.flex.d-row-reverse {
  flex-direction: row-reverse;
}

.flex.justify-around {
  justify-content: space-around;
}

.flex.justify-between {
  justify-content: space-between;
}

.flex.align-center {
  align-items: center;
}

/* column */

.col-70 {
  width: 70%;
}

.col-60 {
  width: 60%;
}

.col-50 {
  width: 50%;
}

.col-40 {
  width: 40%;
}

.col-30 {
  width: 30%;
}

.col-25 {
  width: 25%;
}

/* height */

.tall {
  min-height: 350px;
}

.taller {
  min-height: 600px;
}

/* # HEADER */

header {
  padding: 1.5rem 0;
  background-color: var(--primary-header);
  color: var(--white);
}

nav a {
  padding: 15px;
  color: var(--white);
  text-decoration: none;
}

/* # JUMBOTRON */

.jumbotron {
  min-height: 450px;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/jumbo.png");
  background-size: 100%;
}

.jumbotron > .container {
  width: 50%;
  min-height: 250px;
  color: var(--white);
  text-align: center;
}

.jumbotron > .container > h1 {
  font-size: 3rem;
  padding-bottom: 30px;
}

.jumbotron > .container > p {
  font-size: 1.25rem;
  padding: 0 10px 15px;
}

.jumbotron > .container > .btn {
  margin: 5px 10px;
}

/* # SECTIONS */

section.bg-white {
  background-color: var(--white);
}

section.bg-gray {
  background-color: var(--gray);
}

.main-section {
  padding: 2rem 0;
}

.main-section > .container > .col-40 {
  color: var(--black);
  padding: 40px 50px 50px;
}

.main-section > .container > .col-40 > h2 {
  font-size: 2rem;
  padding-bottom: 30px;
}

.main-section > .container > .taller > h2 {
  font-size: 2rem;
  padding-bottom: 30px;
}

.main-section > .container > .col-40 > p {
  font-size: 1rem;
}

.main-section > .container > .taller > p {
  font-size: 1rem;
}

.main-section > .container > .col-60 > img {
  width: 100%;
}

.main-section > .container > .taller > img {
  width: 100%;
}

.main-section > .container > .taller {
  text-align: center;
}

.main-section > .container > .taller > h3 {
  font-size: 1.5rem;
  line-height: 50px;
  background-image: url("../img/stars.svg");
  width: 50%;
  margin: auto auto 20px;
}

/* # FOOTER */

.bg-darkgray {
  background-color: var(--darkgray);
}

.footer-top > .container {
  color: var(--white);
  text-align: left;
  border-bottom: 2px solid var(--cyan);
  padding-bottom: 20px;
}

.footer-top > .container > .col-30 > h3 {
  font-size: 1.5rem;
  color: var(--cyan);
  padding: 0 20px 15px 0;
}

.footer-top > .container > .col-30 > img {
  height: 1rem;
  width: auto;
}

.footer-top > .container > .col-30 > span {
  line-height: 1rem;
}

.footer-top > .container > .col-70 > .col-25 > ul > li {
  padding-bottom: 10px;
}

.footer-top,
.footer-bottom {
  padding: 2rem 0;
}

/* .footer-bottom > .container > * {
  padding: 0.25rem 0.5rem;
} */

/* ! DEBUG */

.debug .bordered {
  border: 2px dashed var(--black);
}

.debug .bordered-white {
  border: 2px dashed var(--white);
}

.debug .bg-cyan {
  background-color: var(--cyan);
  min-height: 50px;
}

.debug .bg-golden {
  background-color: var(--golden);
  min-height: 50px;
}

.debug .bg-blue {
  background-color: var(--blue);
  /* min-height: 50px; */
}

.debug .bg-fuchsia {
  background-color: var(--fuchsia);
  /* min-height: 50px; */
}

.debug .bg-azure {
  background-color: var(--azure);
  min-height: 50px;
}

.debug .bg-pink {
  background-color: var(--pink);
  min-height: 50px;
}

.debug .bg-green {
  background-color: var(--green);
  min-height: 50px;
}

.debug .bg-salmon {
  background-color: var(--salmon);
  min-height: 50px;
}

.debug .bg-teal {
  background-color: var(--teal);
  min-height: 50px;
}

.debug .bg-aquamarine {
  background-color: var(--aquamarine);
  min-height: 50px;
}

.debug .bg-lightpink {
  background-color: var(--lightpink);
}
